<h1>Thanks for asking</h1>
<blockquote class="px-2 blockquote">
  <%= @question %>
  <footer class="blockquote-footer">You</footer>
</blockquote>
<blockquote class="px-2 blockquote coach-answer">
  <%= @answer %>
  <footer class="blockquote-footer">Coach</footer>
</blockquote>

<%= button_to "Ask another question", ask_path, :class => "btn btn-primary", :method => :get %>