<h1>Thanks for asking</h1>
<blockquote>
  <%= @question %>
  <footer class="blockquote-footer">You</footer>
</blockquote>
<blockquote style="background:#eff7e1">
  <%= @answer %>
  <footer class="blockquote-footer">Coach</footer>
</blockquote>